  body {
            
            background-color:white;
            font-family: helvetica, arial;
           
            }
            
            
            
            /* LIST #2 */
            .list { width:820px; }
            .list ol { font-style:italic; font-family:Georgia, Times, serif; font-size:20px; color:black;  }
            .list ol  ol li { margin-left: 50px; list-style-type:lower-alpha}
            .list ol li p { padding:8px; font-style:normal; font-family:Arial; font-size:18px; color:slategray; border-left: 1px solid #999; }
            .list ol li p em { display:block;  }
            
           
            
            
            
              .assertion {
                
                color:green;
                font-size:18px;
                font-style:normal;
               
            }
            
            
            
            .FileDescription {
                
                width:600px;
                
            }
            
            
            .textareaFD {
                
                width:800px;
                height:200px;
                
            }
            
        
        
        sup {
            font:courier;
            font-size:11px;
            margin-left:10px;
            color:silver;
        }